#OpenTofu
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

#Ansible
*.retry
.vault_pass

#macOS
.DS_Store
.AppleDouble
.LSOverride


#Docker
.dockerignore

#semaphore
.semaphore/secrets

#Kubernetes
kubeconfig
*.kubeconfig

#env
.env
.env.local

# IDE 
.vscode/
.idea/

#Logs
*.log